h1,h2,h3,h4,h5,h6{
    font-family:"Noto Sans", sans-serif;
}
p,a,input,label,textarea,span,ul,li{
    font-family:'Open Sans',sans-serif;
}

.btn{
    background-color: #d1e7dd;
    color: black;
    padding: 5px 15px;
    border-radius: 20px;
}

header li{
    margin: 0 10px;
}


#intro.h1{
    font-size:40px;
    font-weight:400;
    line-height: 1.5;
}

#category h3,#category h5{
    font-family: "Libertinus Serif", serif;
    font-weight: 100;
    font-style: italic;
    color: dimgray;
}

.category-title {
  position: absolute;
  margin-bottom: 10px;
}

body {
      background-color: #e8f6d9dc; /* 柔和灰色背景 */
}

.custom-navbar{
    background-color: #e8f6d9dc; 
}

.dropdown-menu{
    background-color: #e8f6d9dc; 
}