h1,h2,h3,h4,h5,h6{
    font-family:"Noto Sans", sans-serif;
}
p,a,input,label,textarea,span,ul,li{
    font-family:'Open Sans',sans-serif;
}

.btn{
    background-color: #d1e7dd;
    color: black;
    padding: 5px 15px;
    border-radius: 20px;
}

header li{
    margin: 0 10px;
}



#intro.jumbotron{
    height:70 vh;
}

#intro.h1{
    font-size:40px;
    font-weight:400;
    line-height: 1.5;
}


