h1,h2,h3,h4,h5,h6{
    font-family:"Noto Sans", sans-serif;
}
p,a,input,label,textarea,span,ul,li{
    font-family:'Open Sans',sans-serif;
}

.btn{
    background-color: #d1e7dd;
    color: black;
    padding: 5px 15px;
    border-radius: 20px;
}

header li{
    margin: 0 10px;
}


#intro.h1{
    font-size:40px;
    font-weight:400;
    line-height: 1.5;
}

#category h3,#category h5{
    font-family: "Libertinus Serif", serif;
    font-weight: 100;
    font-style: italic;
    color: rgb(62, 60, 60);
}

.category-title {
  position: absolute;
  margin-bottom: 10px;
}

.category-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

body {
      background-color: #b5bfabdc; /* 柔和灰色背景 */
      padding-top: 70px;
}

.custom-navbar{
    background-color: #b5bfabdc; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* 確保蓋在其他內容上 */
}

.dropdown-menu{
    background-color: #b5bfabdc; 
}